* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.7 sans-serif;
}

[v-cloak] {
  display: none;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

.graph_define {
  padding: 10px;
  width: 100%;
  min-height: 20em;
  font-family: monospace;
  box-sizing: border-box;
}

.graph-container {
  position: relative;
  height: 600px;
  border: 1px solid #e5e5e5;
}
.graph-container__canvas {
  width: 70%;
  height: 600px;
}
.graph-container__table {
  position: absolute;
  width: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  border-left: 1px solid #e5e5e5;
}

.graph-vertice {
  padding: 5px 10px;
  font-family: monospace;
}
.graph-vertice:nth-child(even) {
  background: #fafafa;
}
.graph-vertice__id {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.graph-vertice__visited {
  display: inline-block;
  width: 1em;
  font-weight: bold;
  text-align: center;
  color: #666;
}
.graph-vertice__distance {
  font-weight: bold;
  color: #f33;
}
.graph-vertice__path {
  padding-left: 10px;
  color: #888;
}